@import url('https://fonts.googleapis.com/css2?family=Fragment+Mono&display=swap');

:root {
  --bg-color: #131111;
  --bg-nav: whitesmoke;
  --txt-color: #131111
  
}

.canvas-test{
 /* background-color: rebeccapurple; */
/*  width: 300px !important;
 height: 300px !important;
 margin-left: 290px; */
 

}


body {
  margin: 0;
  padding: 0;
  max-width: 100vw;
  /* overflow-x: hidden; */
  min-height: 100vh;
  /* background-color: var(--bg-color); */
  background-color: whitesmoke;
  color: var(--txt-color);
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: small;
 
}



*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.main{
  position: relative;
  width: 100%;
  height: 100vh;
}

li {
  list-style: none;
}

